{{#with word}}
{{setCurrentWord word}}



{{#ifCond pronunciations "||" rhymes}}
<h1> Pronunciations </h1>
<ul>

{{#each pronunciations}}
	{{#if pronunciation}}
    <li>
    	{{#if accent}}<em>({{accent}})</em>{{/if}}
    	{{pronunciation}}
    </li>
	{{/if}}
  {{#if audioFile}}
    <li class="hide-for-print">{{audioDescription}} {{audioFile}}</li>
	{{/if}}

{{/each}}
{{#each rhymes}}
		<li>Rhymes: {{rhyme}} </li>
{{/each}}

</ul>
{{/ifCond}}

{{#each meanings}}
<h1> Etymology {{math @index "+" 1}} </h1>
{{#with etymology}}
	{{#each from}}
		{{#if @first}}
		From
		{{else}}
		from
		{{/if}}
		{{>wordLink this}}
		{{#if @last}}
		.
		{{else}}
		,
		{{/if}}
	{{/each}}
{{/with}}


{{#each roles}}
<h2>{{canonicalRoleName role}}</h2>	

{{#with synonyms}}
<h3>Synonyms</h3>
{{> wordLinkListRender}}
{{/with}}


{{#with antonyms}}
<h3>Antonyms</h3>
{{> wordLinkListRender}}
{{/with}}


{{#with hyponyms}}
<h3>Hyponyms</h3>
{{> wordLinkListRender}}
{{/with}}



{{#with derivedTerms}}
<h3>Derived terms</h3>
{{> wordLinkListRender}}
{{/with}}


{{#with relatedTerms}}
<h3>Related terms</h3>
{{> wordLinkListRender}}
{{/with}}


{{#with descendants}}
<h3>Descendants</h3>
{{> wordLinkListRender}}
{{/with}}


{{#with translations}}
<h3>Translations</h3>
<ul class="small-block-grid-5">

	{{#each this}}
		<li>{{>wordLink this}}  </li>
	{{/each}}
</ul>
{{/with}}


{{/each}}


{{/each}}

{{#with anagrams}}
<h3>Anagrams</h3>
{{> wordLinkListRender}}
{{/with}}
{{/with}}