 {{#ifWordLinkNotCurrentLang this}}
<b><small>[{{wordLinkLangIconLabel this}}]</small></b>

<div class="icons__item" data-name="{{wordLinkLang this}}"><i class="icon icon_{{wordLinkLang this}}"></i> icon_{{wordLinkLang this}}</div>

{{/ifWordLinkNotCurrentLang}}

<a href=/{{wordLinkWord this}}/{{wordLinkLang this}}> 



{{wordLinkWord this}}</a>



