<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{{title}}</title>


    {{addRemoteCSS "//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css"}}

    {{addLocalCSS "/css/app.css"}}
    {{addLocalCSS "/css/languageIcons.css"}}

    {{#remoteCSS}}
    <link rel="stylesheet" href="{{{.}}}">
    {{/remoteCSS}}

    {{#localCSS}}
      {{#if this.oldIE}}
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{{{this.oldIE}}}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{{{this.path}}}">
        <!--<![endif]-->
      {{else}}
        <link rel="stylesheet" href="{{{this.path}}}">
      {{/if}}
    {{/localCSS}}

<body lang="en">

    <div class="container">
        {{{body}}}
    </div>
    


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.accordion.min.js"></script>

    <script>
        // data exposed by express-state
        {{{state}}}
        $(document).foundation(); 
    </script>
    {{#localJS}}
        <script src="{{{.}}}"></script>
    {{/localJS}}
</body>

</html>
